<div class="col-sm">
      <h1><%= link_to product.name, product %></h1>
      <p><%= product.description %></p>
      <strong>$ <%= product.price %></strong>
  </div><!-- /col -->
  
  <%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
